<br><br>
<br><br>
<div class="row pt-0 pt-sm-4">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="row">
            <div class="col-4 text-center pb-5">
                <a (click)="goToCm()" class="color-text-primary">
                    <i class="icon-action fa fa-id-badge"></i>
                    <h4 class="pt-1 text-action">Community Managers</h4>
                </a>
            </div>
            <div class="col-4 text-center pb-5">
                <a (click)="goToPlayers()" class="color-text-primary">
                    <i class="icon-action fa fa-users"></i><br>
                    <h4 class="pt-1 text-action">Players</h4>
                </a>
            </div>
            <div class="col-4 text-center pb-5">
                <a (click)="goToUser()" class="color-text-primary">
                    <i class="icon-action fa fa-user"></i><br>
                    <h4 class="pt-1 text-action">Users</h4>
                </a>
            </div>
        </div>
    </div>
</div>
