<div class="color-primary">
  <div>
    <section class="row text-center justify-content-center">
      <div class="col-4 col-sm-3 col-md-2 div-nav">
        <a class="nav-link text-action" [routerLinkActive]="['activeItem']"  [routerLink]="['categories']">
          <p class="mb-0">Categories</p>
        </a>
      </div>
      <div class="col-4 col-sm-3 col-md-2 div-nav">
        <a class="nav-link text-action" [routerLinkActive]="['activeItem']"  [routerLink]="['sliders']">
          <p class="mb-0">Sliders</p>
        </a>
      </div>
    </section>
  </div>
</div>
